<div>

    <h1>Bienvenido a la aplicación</h1>
    <p>Esta es una aplicación de ejemplo para demostrar el uso de Handlebars.</p>
    <p>Utiliza el menú de navegación para explorar las diferentes secciones.</p>
    <ul>
        <li><a href="/users">Ver usuarios</a></li>
        <li><a href="/pets">Ver mascotas</a></li>
    </ul>
</div>